/* font-family: 'Raleway', sans-serif; */

body{
    background: #F9F9F9;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 45px;
    line-height: 53px;
    color: #27302E;
}

.desc{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    color: #000000;
}

.wrapper{
    max-width: 1354px;
    padding: 0 15px;
    margin: 0 auto;
}
.link:hover{
    color: #C6B166;
}

em{
    font-weight: 700 !important;
}


/* Header styles start */


.header {
    padding-top: 50px;
    margin-bottom: 63px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu {
    display: flex;
    align-items: center;

}
.header__logo {
    text-decoration: none;
    margin-right: 81px;
}
.header__logo-pic {
}
.header__nav {
    overflow: auto;
}
.header__nav-list {
    display: flex;
    flex-wrap: wrap;
}
.header__nav-item {
    margin-right: 35px;
}

.header__nav-item:last-child{
    margin-right: 0;
}
.header__nav-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    transition: 0.3s all;
}
.header__call {
    display: flex;
    flex-direction: column;

}
.header__phone {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Raleway' sans-serif;
    display: block;
    color: #000000;
    margin-bottom: 4px;
    text-decoration: none;
    transition: 0.3s all;
}
.header__call-back {
    color: #C6B166;
    text-decoration: none;
    transition: 0.3s;
    align-self: flex-end;
    border-bottom: 1px solid transparent;
}

.header__call-back:hover{
    border-color: #C6B166;
}

.header__burger{
    display: none;
    width: 40px;
    height: 28px;
    position: relative;

}

.burger__line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #D3BE73;
    position: absolute;
    left: 0;
}

.burger__line_1{
    top: 0;
}

.burger__line_2{
    top: 50%;
    transform: translateY(-50%);
}

.burger__line_3{
    bottom: 0;
}

/* Header styles end */

/* Intro styles start */


.intro {
    margin-bottom: 160px;
}
.intro-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    min-width: 0;
}
.intro__slider {
    margin-left: 107px;
    position: relative;
    max-width: 630px;
    padding-bottom: 51px;
}
.intro__slide {
    object-fit: contain;
}
.intro__slider-arrows {
    position: absolute;
    display: flex;
    right: 0;
    background: #FFFFFF;
    bottom: 0px;
    z-index: 3;
}
.intro__slider-arrow {
    padding: 0 28px;
    cursor: pointer;
}

.intro__slider-arrow path{
    transition: .3s;
}

.intro__slider-arrow:hover path{
    fill: #27302E;
}

.intro__slider-arrow-right {
    transform: rotate(180deg);
}
.intro__socials {
    position: relative;
    left: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro__socials-item {
    margin-bottom: 35px;
    transition: .3s all;
}

.intro__socials-item:last-child{
    margin-bottom: 0;
}

.intro__socials-item:hover{
    transform: scale(1.1);
}

.intro__offer{
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: -204px;
    max-width: 600px;
}

.intro__text {
    padding: 60px 0 60px 55px;
    background: #F9f9f9;
    margin-bottom: 65px;
}

.intro__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 75px;
    margin-bottom: 20px;
    color: #27302E;
    
}
.intro__subtitle {
    font-size: 23px;
    line-height: 38px;
}
.intro__button {
    align-self: flex-end;
    text-decoration: none;
    border: 2px solid #D3BE73;
    padding: 33px 55px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.11em;
    color: #27302E;
    transition: .3s all;
}

.intro__button:hover {
    background: #C6B166;
}


/* Intro styles end */

/* About styles start */

.about{
    margin-bottom: 160px;
}

.about__title {
    margin-bottom: 30px;
}

.about__descs {
    max-width: 876px;
    margin-bottom: 65px;
}
.about__desc {
    margin-bottom: 15px;

}

.about__desc:first-child{
    max-width: 856px;
}

.about__desc:last-child {
    margin-bottom: 0;
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 112px;
}
.about__card {
    max-width: 385px;
}
.about__card-title-w{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.about__card-pic{
    margin-right: 25px;
}
.about__card-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    font-family: 'Raleway', sans-serif;
    color: #27302E;
    max-width: 278px;
}
.about__card-desc {
}


/* About styles end */

/* Examples styles start */

.examples{
    margin-bottom: 160px;
}

.examples__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.examples__title {
}

.examples__insta {
    color: #C6B166;
    text-decoration: none;
    padding-left: 31px;
    background: url(../svg/inst.svg) no-repeat left center;
    font-size: 16px;
    line-height: 22px;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
}

.examples__insta:hover{
    border-color:#C6B166;
}

.examples__swiper{
    padding-bottom: 70px;
    position: relative;
}

.examples__swiper-slide {
    position: relative;
    max-width: 428px;
    max-height: 912px;
}

.examples__slide-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.examples__slide-pic-small{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.examples__slide-cost {
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    color: #27302E;
    padding: 25px 30px;
    background: #F9F9F9;
}
.examples__slide-text {
    padding: 25px 30px;
    background:#F9F9F9;
    position: absolute;
    bottom: 0;
    left: 0;
}
.examples__slide-text-name {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #27302E;
    margin-bottom: 7px;
}
.examples__slide-text-time {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #6A716F;
}
.examples__swiper-slide-2 {
}
.examples__swiper-slide-hidden{
    display: none;
    overflow: hidden;
}
.examples__slide-pic-small{

}
.examples__swiper-slide-small {
    position: relative;
    max-width: 428px;
    max-height: 446px;
    margin-bottom: 20px;
}

.examples__swiper-slide-small:last-child{
    margin-bottom: 0;
}

.examples__slider-buttons{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.examples__slider-buttons svg{
    cursor: pointer;
}

.examples__slider-buttons div:first-child{
    margin-right: 20px;
}

.examples__slider-buttons div:last-child{
    margin-left: 20px;
}

.examples__swiper-pagination{
    display: flex;
}


.examples__swiper-button svg{
    fill: #D3BE73;
}
.examples__swiper-button:hover svg{
    transition: .3s all;
    fill: #27302E;
}
.swiper-pagination-bullet{
    display: block;
    width: 10px;
    height: 10px;
    line-height: 20px;
    font-size: 14px;
    background-color: rgba(106, 113, 111, 0.16);
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    transition: .3s all;
}

.swiper-pagination-bullet:last-child{
    margin-right: 0;
}

.swiper-pagination-bullet:hover{
    background-color: #D3BE73;
}

.swiper-pagination-bullet-active{
    background-color: #D3BE73;
}




/* examples styles end */


/* order styles start */

.order {
    margin-bottom: 160px;
}

.order__title {
    margin-bottom: 40px;
}

.order__cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
}
.order__card {
    max-width: 326px;

}
.order__card-num {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #D3BE73;
    margin-bottom: 15px;
}
.order__card-stage {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    color: #27302E;
    margin-bottom: 20px;
}
.order__card-desc {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    color: #000000;
}
.order__card-call {
    text-decoration: none;
    font-weight: 600;
    color: #D3BE73;
    border-bottom: 1px solid transparent;
    transition: .3s all;
}

.order__card-call:hover{
    border-bottom: 1px solid #C6B166;
}

.order__form {
    display: flex;
    align-items: baseline;
}
.order__form-input {
    border: none;
    border-bottom: 1px solid #D3BE73;
    background: none;
    margin-right: 40px;
    padding-bottom: 36px;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #6A716F;
    width: 100%;
    max-width: 260px;    
}

.order__form-input::placeholder{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #6A716F
}

.order__button-block {
}
.order__form-button {
    padding: 33px 55px;
    background: none;
    border: 2px solid #D3BE73;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.11em;
    color: #27302E;
    text-transform: uppercase;
    margin-bottom: 15px;
    transition: .3s all;
}

.order__form-button:hover{
    background: #C6B166;
}

.order__form-agreement {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    max-width: 344px;
    color: #6A716F;
}
.order__form-agreement-link {
    text-decoration: none;
    color: #C6B166;
    transition: .3s all;
    border-bottom: 1px solid transparent;
}

.order__form-agreement-link:hover{
    border-bottom: 1px solid #C6B166;
}

/* order styles end */

/* For styles start */

.for {
    margin-bottom: 160px;
}

.for__wrapper {
    max-width: 1920px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.for__pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 575px;
    max-height: 863px;
}

.for__card {
    position: relative;
    padding: 60px 55px;
    background: #F9F9F9;
    margin-left: -142px;
}

.for__title {
    line-height: 61px;
    margin-bottom: 30px;
    max-width: 669px;
}

.for__desc {
    margin-bottom: 20px;
    max-width: 845px;
}

.for__desc:last-child{
    margin-bottom: 0;
}

.for__desc-hidden{
    display: none;
}

/* For styles end */

/* Free styles start */

.free {
    margin-bottom: 160px;
}

.free__title {
    max-width: 616px;
    margin-bottom: 30px;
    line-height: 61px;
}

.free__desc {
    margin-bottom: 65px;
    max-width: 560px;
}

.free__form {
    display: flex;
    align-items: baseline;
}

.free__form-input {
    border: none;
    border-bottom: 1px solid #D3BE73;
    background: none;
    margin-right: 40px;
    padding-bottom: 36px;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #6A716F;
    width: 100%;
    max-width: 260px;  
}

.free__form-input::placeholder{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #6A716F
}

.free__button-block {
}

.free__form-button {
    padding: 33px 55px;
    background: none;
    border: 2px solid #D3BE73;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.11em;
    color: #27302E;
    text-transform: uppercase;
    margin-bottom: 15px;
    transition: .3s all;
}

.free__form-button:hover{
    background: #C6B166;
}

.free__form-agreement {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    max-width: 344px;
    color: #6A716F;
}

.free__form-agreement-link {
    text-decoration: none;
    color: #C6B166;
    transition: .3s all;
    border-bottom: 1px solid transparent;
}

.free__form-agreement-link:hover{
    border-bottom: 1px solid #C6B166;
}

/* Free styles end */

/* Review styles start */

.review {
    margin-bottom: 160px;
}

.review__title {
    margin-bottom: 30px;
}

.review__swiper {
    padding-bottom: 70px;
    position: relative;
}

.review__swiper-slide {
    padding: 55px;
    background: #FFFFFF;
    max-width: 652px;
    box-sizing: border-box;
    height: 355px !important;
}

.review__slide-top {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.review__slide-pic {
    margin-right: 14px;
}

.review__slide-name-block {
}

.review__slide-name {
    margin-bottom: 10px;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #27302E;
}

.review__slide-inst {
    text-decoration: none;
    color: #C6B166;
    padding-left: 30px;
    background: url(../svg/inst.svg) no-repeat left center;
    transition: .3s all;
    border-bottom: 1px solid transparent;
    font-size: 16px;
    line-height: 22px;
}

.review__slide-inst:hover{
    border-color: #C6B166;
}

.review__slide-vk {
    text-decoration: none;
    color: #C6B166;
    padding-left: 30px;
    background: url(../svg/vk.svg) no-repeat left center;
    transition: .3s all;
    border-bottom: 1px solid transparent;
    font-size: 16px;
    line-height: 22px;
}

.review__slide-vk:hover{
    border-color: #C6B166;
}




.review__slide-text span{
    color: #C6B166;
    border-bottom: 1px solid transparent;
    transition: .3s all;
    cursor: pointer;
}

.review__slide-text span:hover{
    color: #C6B166;
    border-bottom: 1px solid #C6B166;
}

.review__slider-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.review__slider-buttons svg{
    cursor: pointer;
}

.review__slider-buttons div:first-child{
    margin-right: 20px;
}

.review__slider-buttons div:last-child{
    margin-left: 20px;
}

.review__swiper-pagination{
    display: flex;
}


.review__swiper-button svg{
    fill: #D3BE73;
}
.review__swiper-button:hover svg{
    transition: .3s all;
    fill: #27302E;
}

/* Review styles end */

/* Faq styles start */

.faq {
    margin-bottom: 160px;
}
.faq__wrapper {
    padding-top: 238px;
    position: relative;
    padding-bottom: 234px;
}
.faq__title {
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
}
.faq__pic {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    max-width: 790px;
    width: 100%;
    height: 1310px;
}
.faq__accordeon {
    max-width: 1042px;
    width: 100%;
}
.faq__accordeon-item {
    padding: 45px 55px;
    position: relative;
    background: #FFFFFF;
    margin-bottom: 7px;
    z-index: 2;
    transition: .3s all;
}

.faq__accordeon-item:last-child{
    margin-bottom: 0;
}

.faq__accordeon-item-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #27302E;
    padding: 45px 55px;
    margin: -45px -55px;
    position: relative;
    cursor: pointer;
}

.faq__accordeon-item-title::before {
    content: '';
    position: absolute;
    right: 55px;
    top: 45px;
    width: 40px;
    height: 40px;
    transition: .3s all;
    background: url(../svg/plus.svg) no-repeat center center;
}
.faq__accordeon-item-desc {
    max-height: 0;
    overflow: hidden;
    max-width: 783px;
    transition: .3s all;
}

.faq__accordeon-item--active .faq__accordeon-item-desc{
    max-height: none;
    margin-top: 30px;
}

.faq__accordeon-item--active .faq__accordeon-item-title::before{
    transform: rotate(45deg);
}

/* Faq styles end */

/* contacts styles start */

.contacts {
    margin-bottom: 150px;
}
.contacts__wrapper {
    max-width: 1324px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 15px;
}
.contacts__info {
    padding-top: 77px;
}
.contacts__title {
    margin-bottom: 56px;
}
.contacts__phone {
    margin-bottom: 30px;
}

.contacts__name{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 14px;
}

.contacts__desc{
    text-decoration: none;
    color: #27302E;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    transition: .3s all;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.contacts__phone-num:hover{
    color: #C6B166;
}
.contacts__address {
    margin-bottom: 30px;
}

.contacts__email-link {
    color: #C6B166;
    border-bottom: 1px solid transparent;
    transition: .3s all;
}

.contacts__email-link:hover{
    border-color: #C6B166;
}

.contacts__pic {
    max-width: 764px;
    max-height: 568px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Contacts styles end */

/* Footer styles start */

.footer {
    padding-bottom: 91px;
}
.footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 43px;
}
.footer__menu{
    display: flex;
    align-items: center;
}
.footer__logo {
    text-decoration: none;
    margin-right: 77px;
}
.footer__logo-pic {
}
.footer__list {
    display: flex;
    align-items: center;
}
.footer__item {
    margin-right: 35px;
}

.footer__item:last-child{
    margin-right: 0;
}
.footer__item-link {
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    transition: .3s all;
}

.footer__item-link:hover{
    color: #C6B166;
}
.footer__call {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.footer__phone {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #27302E;
    transition: .3s all;
    text-decoration: none;
    margin-bottom: 4px;
}

.footer__phone:hover{
    color: #C6B166;
}
.footer__call-back {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: .3s all;
    color: #C6B166;
    display: block;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.footer__call-back:hover{
    border-color: #C6B166;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
}
.footer__copy {
}
.footer__b-text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #6A716F;
    letter-spacing: 0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    text-decoration: none;
}
.footer__copy-link {
    text-decoration: none;
    color: #C6B166;
    border-bottom: 1px solid transparent;
    transition: .3s all;
}

.footer__copy-link:hover{
    border-color: #C6B166;
}
.footer__agreement, .footer__politic {
    transition: .3s all;

}

.footer__agreement:hover, .footer__politic:hover {
    color: #C6B166;
}

/* Footer styles end */

/* Media styles start */

@media screen and (max-width:1600px){
    .faq__pic{
        max-width: 600px;
        max-height: 1200px;
        height: 100%;
    }
}

@media screen and (max-width:1200px) {
    .intro__title{
        font-size: 40px;
        line-height: 55px;
    }

    .intro__subtitle{
        font-size: 16px;
        line-height: 31px;
    }

    .intro__button{
        padding: 29px 32px;
    }

    .contacts__pic{
        max-width: 650px;
    }

    .footer__logo{
        margin-right: 30px;
    }
}

@media screen and (max-width:1100px){
    .header__logo{
        margin-right: 50px;
    }

    .header__nav-item{
        margin-right: 25px;
    }
    .for__pic {
        max-width: 500px;
    }
    
    .for__title {
        font-size: 35px;
        line-height: 55px;
    }
    
    .for__desc {
        font-size: 13px;
    }
    .review__slide-text{
        font-size: 15px;
        line-height: 29px;
    }


    .footer__top{
        align-items: flex-start;
    }

    .footer__menu{
        align-items: flex-start;
    }
    .footer__list{
        display: grid;
        grid-template-columns: 130px 250px;
        column-gap: 30px;
        row-gap: 10px;
    }

    .footer__item{
        margin: 0;
    }

}

@media screen and (max-width:1024px) {
    .wrapper{
        max-width: 1054px;
    }
    .header__logo{
        margin-right: 0;
    }

    .header__burger{
        display: block;
    }
    .header__nav{
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        background-color: #F9F9F9;
        padding: 120px 20px 20px 20px;
        transform: translateY(-200%);
        transition: 0.3s all;
        max-width: 270px;
    }

    .header__nav-active{
        transform: translateY(0);
    }

    .header__nav-item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }


    .header__nav-button{
        font-size: 40px;
        padding: 0;
        border: none;
        border-radius: 0;
        background: none;
    }

    .header__nav-button:focus, .header__nav-button:hover, .header__nav-button:active{
        background: none;
        border: none;
    }


    .header__nav-close{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 56px;
        right: 15px;
        z-index: 11;
    }

    .header__nav_close-line{
        width: 100%;
        height: 2px;
        display: block;
        position: absolute;
        top: 50%;
        background-color: #D3BE73;
    }

    .header__nav_close-line:first-child{
        transform: translateY(-50%) rotate(45deg);
    }
    .header__nav_close-line:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }

    .body_noscroll{
        overflow: hidden;
    }

    .header__call{
        z-index: 12;
    }

    .intro__slider{
        margin-left: 54px;
    }

    .intro__slide{
        width: 100%;
        height: 100%;
    } 
    .intro__text{
        padding: 30px 0 30px 55px;        
    }

    .intro__title{
        font-size: 35px;
        line-height: 46px;
        width: 400px;
    }

    .intro__subtitle{
        max-width: 400px;
    }

    .intro__button{
        font-size: 16px;
        padding: 29px 30px;
    }

    .about__cards{
        column-gap: 50px;
    }

    .about__card-title{
        font-size: 20px;
        line-height: 30px;
    }

    .about__card-desc{
        font-size: 14px;
        line-height: 28px;
    }

    .for__wrapper{
        max-width: 1024px;
        padding: 0 15px;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .for__card{
        margin-left: 0;
        padding: 0;
        margin-bottom: 20px;
    }

    .for__pic {
        margin-bottom: 20px;
    }
    
    .for__title {
        font-size: 45px;
        line-height: 61px;
        margin-bottom: 20px;
    }
    
    .for__desc {
        margin-bottom: 10px;
        max-width: 650px;
        font-size: 16px;
    }

    .for__desc:last-child{
        display: none;
    }

    .for__desc-hidden{
        display: block;
        max-width: 650px;
    }

    .faq__accordeon {
        max-width: 760px;
    }

    .faq__wrapper{
        padding-top: 150px;
    }

    .faq__pic{
        max-height: 1100px;
    }

    .faq__accordeon-item-title{
        font-size: 20px;
        line-height: 25px;
    }

    .contacts__info{
        padding: 0;
    }

    .contacts__pic{
        max-width: 550px;
    }

}

@media screen and (max-width:992px) {
    .intro__slider-arrows{
        right: 0;
        left: auto;
    }

    .intro__slider{
        margin-left: 30px;
    }
    .order__card{
        max-width: 267px;   
    }

    .order__card-stage{
        font-size: 21px;
        line-height: 30px;
    }

    .order__card-desc{
        font-size: 13px;
        line-height: 26px;
    }
    .footer__bottom{
        flex-wrap: wrap;
        align-items: start;
    }
    .footer__copy{
        margin-bottom: 20px;
    }
}

@media screen and (max-width:851px) {
    .wrapper {
        max-width: 800px;
    }

    .intro{
        margin-bottom: 120px;
    }

    .intro-wrapper{
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .intro__socials{
        flex-direction: row;
        position: sticky;
    }

    .intro__socials-item{
        margin: 0 30px 0 0;
    }

    .intro__offer{
        margin: 0 0 60px 0;
        max-width: none;
    }

    .intro__text{
        padding: 0;
    }

    .intro__title{
        width: 100%;
        font-size: 56px;
        line-height: 75px;
    }

    .intro__subtitle{
        max-width: none;
        width: 100%;
        font-size: 23px;
        line-height: 35px;
    }

    .intro__button{
        align-self: flex-start;
    }

    .intro__slider{
        margin-left: 0;
        margin-bottom: 20px;
    }

    .intro__slide{
        max-width: none;
        max-height: 750px;
    }
    .intro__slider-arrows{
        right: 30px;
        left: auto;
    } 

    .about__cards{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .about__card{
        margin-bottom: 40px;
        max-width: none;
    }

    .about__card:last-child{
        margin-bottom: 0;
    }

    .about__card-title-w{
        flex-direction: column;
        align-items: flex-start;
    }

    .about__card-pic{
        margin: 0 0 20px 0;
    }

    .about__card-title{
        max-width: none;
        font-size: 24px;
        line-height: 35px;
    }

    .about__card-desc{
        font-size: 16px;
        line-height: 31px;
    }

    .about__descs{
        max-width: 550px;
    }
    .about{
        margin-bottom: 120px;
    }

    .examples{
        margin-bottom: 120px;
    }

    .examples__slide-cost{
        font-size: 20px;
        line-height: 27px;
    }

    .examples__slide-text{
        padding: 20px;
    }

    .examples__slide-text-name{
        font-size: 18px;
        line-height: 21px;
    }

    .examples__slide-text-time{
        font-size: 18px;
        line-height: 19px;
    }

    .order{
        margin-bottom: 120px;
    }

    .order__cards{
        flex-direction: column;
    }

    .order__card{
        max-width: none;
        margin-bottom: 25px;   
    }

    .order__card:last-child{
        margin-bottom: 0;
    }

    .order__card-stage{
        font-size: 25px;
        line-height: 38px;
    }

    .order__card-desc{
        font-size: 20px;
        line-height: 37px;
    }

    .order__form{
        flex-wrap: wrap;
    }

    .order__form-button{
        margin-top: 30px;
    }

    .free{
        margin-bottom: 120px;
    }

    .free__form{
        flex-wrap: wrap;
    }

    .free__form-button{
        margin-top: 30px;
    }

    .for{
        margin-bottom: 120px;
    }

    .for__wrapper{
        max-width: 800px;
    }
    .faq{
        margin-bottom: 120px;
    }

    .contacts{
        margin-bottom: 120px;
    }

    .contacts__wrapper{
        flex-direction: column;
        padding: 0;
    }
    
    .contacts__info{
        margin-bottom: 30px;
        padding: 0 15px;
    }

    .contacts__pic{
        max-width: none;
        max-height: none;
    }

    .footer__phone{
        font-size: 20px;
        line-height: 24px;
    }

}

@media screen and (max-width:768px){
    .header__nav{
        width: 100%;
        height: 100%;
        max-width: none;
    }

    .header__logo{
        z-index: 12;

    }

    .header__nav-link{
        font-size: 40px;
        line-height: 48px;
    }

    .header__call {
        display: none;
    }

    .intro{
        padding-bottom: 0;
        margin-bottom: 45px;
    }

    .intro__offer {
        margin-bottom: 0;
    }

    .intro__title {
        font-size: 38px;
        line-height: 160%;
        max-width: 650px;
    }

    .intro__subtitle {
        font-size: 18px;
        line-height: 165%;
    }

    .intro__slider{
        display: none;
    }
    .intro__socials {
        display: none;
    }
    .about{
        margin-bottom: 45px;
    }

    .examples__slide-text{
        padding: 20px 15px;
    }

    .examples__slide-text-name{
        font-size: 18px;
        line-height: 21px;
    }

    .examples__slide-text-time{
        font-size: 18px;
        line-height: 19px;
    }

    .examples{
        margin-bottom: 45px;
    }

    .order{
        margin-bottom: 45px;
    }
    .free{
        margin-bottom: 45px;
    }

    .for{
        margin-bottom: 45px;
    }

    .review__slide-top{
        margin-bottom: 15px;
    }

    .faq{
        margin-bottom: 45px;
    }

    .faq__accordeon-item{
        padding: 25px 30px;
    }

    .faq__accordeon-item-btn{
        top: 20px;
        right: 20px;
        width: 25px;
        height: 25px;
    }

    .faq__accordeon-item-title{
        max-width: 600px;
    }

    .faq__pic{
        max-height: 900px;
    }

    .faq__accordeon-item-desc{
        max-width: 600px;
    }

    .contacts{
        margin-bottom: 45px;
    }

    .footer{
        padding-bottom: 65px;
    }

    .footer__top{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .footer__menu{
        flex-direction: column;
        align-items: center;
    }
    .footer__logo{
        margin: 0 0 25px 0;
    }

    .footer__item{
        margin:0 0 7px 0;
    }

    .footer__item:last-child{
        margin: 0;
    }

    .footer__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }

    .footer__call{
        margin-bottom: 25px;
    }

    .footer__bottom{
        flex-direction: column;
        align-items: center;
    }

    .footer__copy{
        margin-bottom: 20px;    
    }

    .footer__agreement{
        margin-bottom: 7px;
    }

}

@media screen and (max-width:651px){
    .order__form{
        flex-direction: column;
    }

    .order__form-input:first-child{
        margin-bottom: 30px;
    }

    .order__form-input{
        max-width: 350px;
        margin-right: 0;
    }

    .free__form{
        flex-direction: column;
    }

    .free__form-input:first-child{
        margin-bottom: 30px;
    }

    .free__form-input{
        max-width: 350px;
        margin-right: 0;
    }

    .faq__pic{
        display: none;
    }

    .faq__wrapper{
        padding: 0;
    }

    .faq__accordeon-item-title{
        max-width: 500px;
    }
}

@media screen and (max-width:570px) {
    .examples__insta{
        max-width: 180px;   
    }
    .review__swiper-slide{
        padding: 25px;
    }

    .faq__accordeon-item-title{
        max-width: 400px;
    }
}

@media screen and (max-width:500px) {
    .faq__accordeon-item-title{
        max-width: 350px;
    }
}

@media screen and (max-width:451px) {
    .examples__swiper-slide-hidden{
        display: block;
    }

    .examples__swiper-slide-small:last-child{
        display: none;
        
    }
    .examples__slide-pic{
        max-height: 381px;
    }

    .examples__slide-text{
        padding: 20px 15px;
        bottom: -20px;
    }
    .examples__slide-pic-small{
        height: 381px;
    }

    .order__form{
        align-items: stretch;
    }

    .free__form{
        align-items: stretch;
    }
}

@media screen and (max-width:430px) {

    .order__card {
        max-width: 360px;
    }
    .order__card-num{
        font-size: 19px;
        line-height: 22px;
        margin-bottom: 7px;
    }

    .order__card-stage{
        margin-bottom: 12px;
        font-size: 17px;
        line-height: 20px;
    }

    .order__card-desc{
        font-size: 13px;
        line-height: 23px;
    }
}

@media screen and (max-width:414px){

    .header{
        padding-top: 25px;
        margin-bottom: 25px;
    }
    .header__nav-close{
        top: 30px;
        right: 15px;
    }

    .header__nav{
        padding: 80px 15px 15px 15px ;
    }

    .title{
        font-size: 25px;
        line-height: 29px;
    }

    .intro__text{
        margin-bottom: 25px;
    }


    .intro__title{
        font-size: 30px;
        line-height: 44px;
        margin-bottom: 12px;
    }

    .intro__subtitle{
        font-size: 15px;
        line-height: 26px;
    }

    .intro__button{
        padding: 22px 55px ;
    }

    .intro__button span{
        display: none;
    }

    .about__title{
        margin-bottom: 12px;
    }

    .about__descs{
        margin-bottom: 25px;
    }

    .about__desc{
        font-size: 13px;
        line-height: 23px;
        margin-bottom: 12px;
    }

    .about__card{
        margin-bottom: 30px;
    }   

    .about__card-title-w{
        margin-bottom: 12px;
    }

    .about__card-title{
        font-size: 17px;
        line-height: 20px
    }

    .about__card-desc{
        font-size: 13px;
        line-height: 23px;
    }

    .about__card-pic{
        height: 45px;
        width: 45px;
    }

    .examples__insta{
        font-size: 12px;
        line-height: 16px;
        max-width: 142px;
    }
    
    .examples__slide-cost{
        font-size: 16px;
        line-height: 19px;
        padding: 20px 15px;
    }


    .examples__slide-text-name{
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 4px;
    }

    .examples__slide-text-time{
        font-size: 12px;
        line-height: 16px;
    }

    .order__title {
        margin-bottom: 20px;
    }

    .order__cards{
        margin-bottom: 30px;
    }

    .order__button-block{
        display: flex;
        flex-direction: column;
    }

    .order__form-button{
        padding: 22px 10%;
        text-align: center;
        margin-top: 25px;
    }


    .order__form-input{
        max-width: none;
        padding-bottom: 24px;
    }
    .order__form-input:first-child{
        margin-bottom: 25px;
    }

    .for__card{
        margin-bottom: 15px;
    }

    .for__title{
        margin-bottom: 12px;
    }

    .for__pic{
        margin-bottom: 15px;
    }

    .for__desc{
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 0;
    }
    
    .for__desc-hidden{
        font-size: 14px;
        line-height: 19px;
    }

    .free__title{
        line-height: 33px;
        margin-bottom: 12px;
    }

    .free__desc{
        margin-bottom: 30px;
        font-size: 13px;
        line-height: 23px;
    }


    .free__button-block{
        display: flex;
        flex-direction: column;
    }

    .free__form-button{
        padding: 22px 10%;
        text-align: center;
        margin-top: 25px;
    }

    .free__form-input{
        max-width: none;
        padding-bottom: 24px;
    }

    .free__form-input:first-child{
        margin-bottom: 25px;
    }

    .review__swiper-slide{
        padding: 20px 15px;
        height: 294px !important;
    }

    .review__slide-name{
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 5px;
    }

    .review__slide-inst{
        font-size: 14px;
        line-height: 101%;
        background-size: 18px 18px;
    }

    .review__slide-vk{
        font-size: 14px;
        line-height: 101%;
    }

    .review__slide-text{
        font-size: 13px;
        line-height: 23px;
    }

    .faq__accordeon-item{
        padding: 15px 20px;
    }

    .faq__accordeon-item-title{
        font-size: 17px;
        line-height: 23px;
    }

    .faq__accordeon-item-btn{
        top: 10px;
        right: 20px;
        width: 25px;
        height: 25px;
    }

    .faq__accordeon-item-title{
        max-width: 300px;
    }
    .faq__accordeon-item-desc{
        font-size: 13px;
        line-height: 23px;
    }

    .faq__accordeon-item--active .faq__accordeon-item-desc{
        margin-top: 12px;   
    }

    .contacts__title{
        margin-bottom: 20px;
    }

    .contacts__name{
        margin-bottom: 5px;
        font-size: 13px;
        line-height: 15px;
    }

    .contacts__desc{
        font-size: 17px;
        line-height: 20px;
    }

    .contacts__phone{
        margin-bottom: 20px;
    }

    .contacts__address{
        margin-bottom: 20px;
    }

    .footer__item-link{
        font-size: 13px;
        line-height: 18px;
    }

    .footer__phone{
        font-size: 17px;
        line-height: 20px;
    }
    .footer__call-back{
        font-size: 13px;
        line-height: 18px;
    }

    .footer__copy, .footer__agreement, .footer__politic{
        font-size: 10px;
        line-height: 16px; 
    }

}

@media screen and (max-width:370px) {
    
    .faq__accordeon-item-title{
        max-width: 190px;
    }
}

/* Media styles end */

