/* font-family: 'Raleway', sans-serif; */

body{
    background: #F9F9F9;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.title{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.wrapper{
    max-width: 1354px;
    padding: 0 15px;
    margin: 0 auto;
}
.link:hover{
    color: #C6B166;
}


/* Header styles start */


.header {
    padding-top: 50px;
    margin-bottom: 63px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu {
    display: flex;
    align-items: center;

}
.header__logo {
    text-decoration: none;
    margin-right: 81px;
}
.header__logo-pic {
}
.header__nav {

}
.header__nav-list {
    display: flex;
    flex-wrap: wrap;
}
.header__nav-item {
    margin-right: 35px;
}

.header__nav-item:last-child{
    margin-right: 0;
}
.header__nav-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    transition: 0.3s all;
}
.header__call {
    display: flex;
    flex-direction: column;

}
.header__phone {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Raleway' sans-serif;
    display: block;
    color: #000000;
    margin-bottom: 4px;
    text-decoration: none;
    transition: 0.3s all;
}
.header__call-back {
    color: #C6B166;
    text-decoration: none;
    transition: 0.3s;
    align-self: flex-end;
}

.header__call-back:hover{
    border-bottom: 1px solid #C6B166;
}

/* Header styles end */

/* Intro styles start */


.intro {
    margin-bottom: 160px;
}
.intro-wrapper {
    position: relative;
}
.intro__slider {
    position: absolute;
    top: 0;
    left: 136px;
}
.intro__slide {
}
.intro__slider-arrows {
    position: absolute;
    display: flex;
    left: 426px;
    background: #FFFFFF;
    bottom: -51px;
}
.intro__slider-arrow {
    padding: 0 28px;
    cursor: pointer;
}

.intro__slider-arrow path{
    transition: .3s;
}

.intro__slider-arrow:hover path{
    fill: #27302E;
}

.intro__slider-arrow-right {
    transform: rotate(180deg);
}
.intro__socials {
    position: absolute;
    top: 453px;
    left: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro__socials-item {
    margin-bottom: 25px;
    transition: .3s all;
}
.intro__socials-item:hover{
    transform: scale(1.1);
}

.intro__offer{
    position: relative;
    z-index: 2;
    top: 86px;
    left: 564px;
    display: flex;
    flex-wrap: wrap;
    max-width: 599px;
    flex-direction: column;
}

.intro__text {
    padding: 60px 0 60px 55px;
    background: #F9f9f9;
    margin-bottom: 65px;
}

.intro__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 75px;
    margin-bottom: 20px;
    color: #27302E;
    
}
.intro__subtitle {
    font-size: 23px;
    line-height: 38px;
}
.intro__button {
    align-self: flex-end;
    text-decoration: none;
    border: 2px solid #D3BE73;
    padding: 33px 55px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.11em;
    color: #27302E;
    transition: .3s all;
}

.intro__button:hover {
    background: #C6B166;
}


/* Intro styles end */